body {
  background-color: #60d9f1;
  font-family: Arial, Helvetica, sans-serif
}

input {
  padding: .5rem .5rem .5rem .5rem;
  font-size: 2rem;
  border: 1px solid black;
}

img {
  width: 15rem;
  height: 15rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  padding: 2rem;
}